:root {
  --color-primary-orange: hsl(25, 97%, 53%);
  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-grey-light: hsl(217, 12%, 63%);
  --color-neutral-grey-medium: hsl(216, 12%, 54%);
  --color-neutral-dark-blue: hsl(213, 19%, 18%);
  --color-neutral-very-dark-blue: hsl(216, 12%, 8%);
  --font-size-body: 0.94rem;
  --font-family: "Overpass", sans-serif;
  --font-weight-400: 400;
  --font-weight-700: 700;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-neutral-very-dark-blue);
  font-family: var(--font-family);
  color: var(--color-neutral-white);
}
@media only screen and (max-width: 375px) {
  body {
    padding: 2rem;
  }
}

.container {
  max-width: 26rem;
  background-color: var(--color-neutral-dark-blue);
  padding: 2rem;
  border-radius: 10px;
}

.interactive__rating {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}

.interactive__thankyou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 26.5rem;
}
.interactive__thankyou-logo {
  margin-bottom: 1.5rem;
}
.interactive__thankyou-heading {
  margin-bottom: 0.8rem;
}

.hidden {
  display: none;
}

.interactive__icon {
  padding: 1rem;
  border-radius: 50%;
  background-color: hsl(213deg, 19%, 21%);
  color: var(--color-neutral-grey-light);
  border: none;
  width: 3rem;
  height: 3rem;
  margin-bottom: 1.5rem;
}
.interactive__content {
  color: var(--color-neutral-grey-light);
  line-height: 1.5;
  margin-bottom: 1rem;
}
.interactive__cta {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.interactive__cta__button {
  padding: 1rem;
  border-radius: 50%;
  background-color: hsl(213deg, 19%, 21%);
  color: var(--color-neutral-grey-light);
  border: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
.interactive__submit-btn {
  background-color: var(--color-primary-orange);
  padding: 1rem;
  border-radius: 50px;
  border: none;
  color: var(--color-neutral-white);
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  cursor: pointer;
}
.interactive__submit-btn:hover {
  background-color: var(--color-neutral-white);
  color: var(--color-primary-orange);
}

.interactive__thankyou-result {
  background-color: hsl(213deg, 19%, 21%);
  color: var(--color-primary-orange);
  padding: 0.8rem;
  border-radius: 100px;
  font-size: 0.85rem;
  margin-bottom: 2rem;
}

input {
  display: none;
}

label {
  text-align: center;
  padding: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background-color: var(--color-neutral-dar-medium);
  color: var(--color-neutral-white);
}

input[type=radio] + label {
  text-align: center;
  padding: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background-color: var(--color-neutral-grey-medium);
  color: var(--color-neutral-white);
}

input[type=radio]:checked + label {
  text-align: center;
  padding: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border: none;
  background-color: var(--color-primary-orange);
  color: var(--color-neutral-white);
}

/*# sourceMappingURL=style.css.map */
